<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flatmates Bill WebApp</title>
    <style>
        .abc, a{
            text-decoration: none;
        }

        .abc:hover{
            background: olivedrab;
            color: chocolate;
            border-radius: 5px;
        }

    </style>
</head>
<body>
    <h1>Developed by ZED</h1>
    <br>
    <p>This webapp calculates the exact bill to be paid by each of the two flatmates and
    distributes among them.</p>
    <button class="abc"><a href={{url_for("bill_form_page")}}>Bill Page</a></button>
</body>
</html>